### Linux
if [[ "$OSTYPE" = linux* ]]; then
    # GNU utils
    alias cp="cp --interactive --verbose"
    alias grep="grep --color"
    alias ls="ls --almost-all --classify --color=auto --group-directories-first --literal --sort=extension"
    alias l="ls --almost-all --classify --color=auto --group-directories-first --human-readable -l --literal --sort=extension"
    alias mv="mv --interactive --verbose"
    alias rm="rm --interactive=once --verbose"
fi

### macOS
if [[ "$OSTYPE" = darwin* ]]; then
    # hide/show dotfiles
    alias showdotfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
    alias hidedotfiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

    # BSD utils
    alias cp="cp -iv"
    alias grep="grep --color"
    alias ls="ls -AFG"
    alias l="ls -AFGlhS"
    alias mv="mv -iv"
    alias rm="rm -Pv"
fi

### commons

# utils (blank space so its not in history)
alias em="emacs --no-window-system"
alias nv="nvim"
alias clear="clear"
alias claer="clear"
alias exit="exit"

# security/privacy
alias clam-checkvirus="sudo freshclam && clamscan --recursive=yes --infected /"
alias exif-removemeta="exiftool -all="

# youtube-dl
alias youtube-to-mp3="youtube-dl --audio-format mp3 --audio-quality 0 --extract-audio"

# chatty
alias chatty="nohup java -jar \$HOME/Chatty/Chatty.jar </dev/null &>/dev/null &; disown"

### functions

hex10 () {
    hexdump -v -n 5 -e '4/4 "%x" 1 "\n"' /dev/urandom;
}
