# -*- mode: sh; sh-shell: bash; -*-

# =====
# Linux
# =====

if [[ "$OSTYPE" = linux* ]]; then
    # GNU utils
    alias ls="ls --almost-all --classify --color=auto --group-directories-first --literal --sort=extension"
    alias l="ls --almost-all --classify --color=auto --group-directories-first --human-readable -l --literal --sort=extension"
    alias cp="cp --interactive --verbose"
    alias mv="mv --interactive --verbose"
    alias rm="rm --interactive=once --verbose"
    alias fstabshow="column -t /etc/fstab"
    alias img="swayimg"
fi

# =====
# macOS
# =====

if [[ "$OSTYPE" = darwin* ]]; then
    # BSD utils
    alias ls="ls -AFG"
    alias l="ls -AFGlhS"
    alias cp="cp -iv"
    alias mv="mv -iv"
    alias rm="rm -Rv"
fi

# =======
# Commons
# =======

# utils (blank space so its not in history)
alias clear=" clear"
alias claer=" clear"
alias cl=" clear"
alias exit=" exit"
alias fd="fd --hidden"
alias root="sudo -i"
alias hist="history | grep "
alias se="sudoedit"
alias sv="sudo visudo"
alias screenoff="setterm -blank 1"
alias curldl="curl --location --progress-bar --remote-name"
alias youtube2mp3="youtube-dl --audio-format mp3 --audio-quality 0 --extract-audio"
alias chatty="nohup java -jar /opt/Chatty/Chatty.jar </dev/null &>/dev/null & disown;"
alias cdtbb="cd ~/.local/share/torbrowser/tbb/x86_64/tor-browser_en-US/Browser/Downloads/"
alias wgetws="wget -mpEk" # add "--wait=seconds" if ban occurs
alias logo="swaymsg exit"

# security/privacy
alias chckvir="sudo freshclam && clamscan --recursive=yes --infected /"
alias metaimgremove="exiftool -overwrite_original -all="

# zsh specific
if [[ "${ZSH_NAME}" ]]; then
    alias history="history 1"
fi

# =========
# Functions
# =========

metavideoremove() {
    ffmpeg -i "${1}" \
           -vcodec copy \
           -acodec copy \
           -map 0 \
           -map_metadata -1 \
           cleaned-"${1}"
}

hex10() {
    hexdump -v -n 5 \
            -e '4/4 "%x" 1 "\n"' \
            /dev/urandom
}

ffind() {
    find -L . -iname "*${1}*" 2> /dev/null \
        | grep --color=auto \
               --ignore-case \
               --regexp="${1}"
}

ffd() {
    fdfind --hidden --follow "${1}" \
        | grep --color=auto \
               --ignore-case \
               --regexp="${1}"
}

lgrep() {
    find -L . -maxdepth 1 -type f -exec grep \
         --binary-file=without-match \
         --color=auto \
         --ignore-case \
         --line-number \
         --with-filename \
         --null \
         --regexp="${1}" {} +
}

rgrep() {
    find -L . -type f -exec grep \
         --binary-file=without-match \
         --color=auto \
         --ignore-case \
         --line-number \
         --with-filename \
         --null \
         --regexp="${1}" {} +
}

lrg() {
    rg --max-depth 1 \
       --no-heading \
       --smart-case \
       --follow \
       --hidden \
       --search-zip \
       --null \
       --regexp="${1}"
}

rrg() {
    rg --no-heading \
       --smart-case \
       --follow \
       --hidden \
       --search-zip \
       --null \
       --regexp="${1}"
}

sway() {
    if [[ -z "$WAYLAND_DISPLAY" ]] && (( XDG_VTNR == 1 )); then
        export XDG_CURRENT_DESKTOP=sway
        export XDG_SESSION_DESKTOP=sway
        exec /usr/bin/sway
    fi
}
