# LANG
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

# EDITORS
export VISUAL="emacs -Q -nw \
                     --eval '(menu-bar-mode -1)' \
                     --eval '(setopt make-backup-files nil)' \
                     --eval '(setopt ring-bell-function '\''ignore)' \
                     --eval '(setopt column-number-mode t)' \
                     --eval '(setopt visible-cursor nil)'"
export EDITOR="emacs -Q -nw \
                     --eval '(menu-bar-mode -1)' \
                     --eval '(setopt make-backup-files nil)' \
                     --eval '(setopt ring-bell-function '\''ignore)' \
                     --eval '(setopt column-number-mode t)' \
                     --eval '(setopt visible-cursor nil)'"
export PAGER=less

# GPG
GPG_TTY=$(tty)
export GPG_TTY

# HOMEBREW
export HOMEBREW_NO_INSECURE_REDIRECT=1
export HOMEBREW_CASK_OPTS=--require-sha
export HOMEBREW_NO_ANALYTICS=1

# colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

### Path

# add home bin if exists
if [ -d "${HOME}/.local/bin" ]; then
    export PATH="${HOME}/.local/bin:${PATH}"
fi
