#[includeIf "gitdir:/home/"]
#  path = ~/.gitconfig-linux

#[includeIf "gitdir:/Users/"]
#  path = ~/.gitconfig-macos

[includeIf "gitdir:C:/"]
  path = ~/.gitconfig-windows

[includeIf "gitdir:D:/"]
  path = ~/.gitconfig-windows

[user]
  name = grolongo
  email = 34292770+grolongo@users.noreply.github.com

[github]
  user = grolongo

[commit]
  gpgsign = true

[alias]
  st = status
  f = fetch
  s = status -s
