set bell-style none

# History incremental search
"\e[B": history-search-forward
"\e[A": history-search-backward

# Completion
set completion-ignore-case on
set show-all-if-ambiguous on
set visible-stats on
set colored-stats on
set colored-completion-prefix on
set mark-symlinked-directories on
set page-completions off
set completion-query-items 250
TAB:menu-complete

# UTF-8
set input-meta on
set output-meta on
set convert-meta off
