set bell-style none

# History incremental search
"\e[B": history-search-forward
"\e[A": history-search-backward

# Completion
set completion-ignore-case on
set show-all-if-ambiguous on
set visible-stats on
set colored-stats on
set colored-completion-prefix on
TAB:menu-complete
