# vim: set syntax=conf:
peer_exchange = yes
directory = ~/Downloads
session = ~/.rtorrent.session
check_hash = yes
port_range = 49164-49164
use_udp_trackers = yes
dht = auto
dht_port = 6881
encryption = require,allow_incoming,try_outgoing
#system.method.set_key = event.download.finished,notify_me,"execute=notify-send,$d.get_name="
