!!! ENVIRONMENT
*termName: rxvt-unicode-256color

!!! SOLARIZED

URxvt*intensityStyles: false

!!! FONTS
Xft.antialias:          1
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb
!URxvt.letterSpace:      -1
URxvt.font:xft:DejaVuSansMono:style=Regular:pixelsize=17
URxvt.boldFont:xft:DejaVuSansMono:style=Bold:pixelsize=17
!*faceSize:              10

!!! INTERFACE
*scrollBar: false
*visualBell:  true
*urgentOnBell: true
! Montre ou la fin d'une ligne s'arrête dans une sélection
*highlightSelection: true
! Utilise Tmux pour le scrollback buffer
*saveLines: 999999

!!! SCROLLING
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

!!! COPY PASTE
URxvt*clipboard.copycmd:    xclip -i -selection clipboard
URxvt*clipboard.pastecmd:   xclip -o -selection clipboard

!!! PERL PLUGINS
URxvt.perl-ext-common:          default,matcher,selection-to-clipboard
URxvt.url-launcher:             /usr/bin/firefox
URxvt.matcher.button:           1
URxvt.url-select.underline:     true
