* {
    font-family: FontAwesome, Symbols Nerd Font Mono, DejaVu Sans Mono;
    font-size: 14px;
}

/* ***************** */
/* Main Bar Settings */
/* ***************** */

/* top, right, bottom, left */

window#waybar {
    background-color: #000000;
    color: #ffffff;
}

button {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    border: none;
    padding: 0px;
    border-radius: 0px 0px 0px 0px;
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}

#workspaces button {
    border: 1px solid #333333;
    background-color: #222222;
    color: #888888;
    padding: 0px 5px 0px 5px;
    margin: 3px 3px 0px 0px;
}

#workspaces button.focused {
    border: 1px solid #4c7899;
    background-color: #285577;
    color: #ffffff;
}

#workspaces button.urgent {
    border: 1px solid #ff0000;
    background-color: #900000;
    color: #ffffff;
}

#mode {
    border: 1px solid #ff0000;
    background-color: #900000;
    color: #ffffff;
    padding: 0px 5px 0px 5px;
    margin: 3px 3px 0px 0px;
}

#scratchpad {
    border: 1px solid #ff0000;
    background-color: #900000;
    color: #ffffff;
    padding: 0px 5px 0px 5px;
    margin: 3px 3px 0px 0px;
}

#custom-sep {
    color: #666666;
    margin: 0px 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* **************** */
/* Modules Settings */
/* **************** */

/* uncomment to have spaces between modules */
/* #workspaces { */
/* margin: 0px 5px; */
/* } */

#clock {
    margin: 0px 0px 0px 8px;
}

#network.disconnected {
    color: #f53c3c;
}

#temperature.critical {
    color: #f53c3c;
}

#language {
    font-size: 16px;
    margin: 0px 2px 0px 0px;
}

#power-profiles-daemon.performance {
    font-size: 16px;
    color: #f53c3c;
    margin: 0px 2px 0px 2px;
}

#power-profiles-daemon.balanced {
    font-size: 16px;
    margin: 0px 2px 0px 2px;
}

#power-profiles-daemon.power-saver {
    font-size: 16px;
    color: #aeea94;
    margin: 0px 2px 0px 2px;
}

#idle_inhibitor {
    font-size: 18px;
    margin: 0px 4px 0px 2px;
}

#memory.critical {
    color: #f53c3c;
}

#disk.critical {
    color: #f53c3c;
}
