directory.default.set         = ~/Downloads
session.path.set              = ~/.cache/rtorrent
encoding.add                  = utf8
protocol.pex.set              = 1
pieces.hash.on_completion.set = yes
network.port_range.set        = 49164-49164
network.port_random.set       = no
trackers.use_udp.set          = 1
dht.mode.set                  = auto
dht.port.set                  = 6881
protocol.encryption.set       = require,allow_incoming,try_outgoing
